.mainContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
}
.formContact{
    display: flex;
    flex-direction: column;
    background-color: #eef5fa;
    width: 90%;
    margin-bottom: 40px;
    border-radius: 15px;
}
.formContact p{
   font-size: 28px;
   margin: 2rem;
}
.estilosForm{
    align-self: center;
    font-size: 18px;
    display: flex;
    width: 80%;
    flex-direction: column;
}
.estilosForm input {
    border: none;
}
.estilosForm label {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#correo:active{
    color: red;
}